@model IEnumerable<StudentManagmentSystem.Models.Attendance>

@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center; font-weight:bold">Attendance</h2>
 
<p>
    @if(ViewBag.UserType == "Admin")
    {
        @Html.ActionLink("Create New", "Create") <a> | </a>
        @Html.ActionLink("Teacher Attendance", "Index", "TeacherAttendance") <a> | </a>
        @Html.ActionLink("Student Attendance", "Index", "StudentAttendance")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            Type
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date.Month)\@Html.DisplayFor(modelItem => item.Date.Day)\@Html.DisplayFor(modelItem => item.Date.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lookup.Values)
        </td>
        <td>
            @if (ViewBag.UserType == "Admin")
            {
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) <a> | </a>
                @Html.ActionLink("Delete", "Delete", new { id=item.Id }) <a> | </a>
                @Html.ActionLink("Teacher Attendance", "Index", "TeacherAttendance", new { ida = item.Id}, null) <a> | </a>
            } 
            @Html.ActionLink("Student Attendance", "Index", "StudentAttendance", new { ida = item.Id}, null)
        </td>
    </tr>
}

</table>
