@model StudentManagmentSystem.Models.SectionStudent

@{
    ViewBag.Title = "Create";
}

<h2 style="text-align:center; font-weight:bold">Create</h2>

@using (Html.BeginForm("Create", "SectionStudent", new {ids = ViewBag.ids }, FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4 style="text-align:center; font-weight:bold">SectionStudent</h4>
        <hr />
        @Html.ValidationSummary(true)

        @if(ViewBag.ids == null)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.SectionId, "Section Name", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("SectionId", null, String.Empty, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SectionId)
                </div>
            </div>
        }
        else
        {
            @Html.DropDownList("SectionId", null, String.Empty, new { @class = "form-control", style = "visibility:hidden" })
        }

        <div class="form-group">
            @Html.LabelFor(model => model.StudentId, "Registration No.", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StudentId", null, String.Empty, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StudentId)
            </div>
        </div>

       <a>
           @ViewBag.error
       </a>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new {ids = ViewBag.ids })
</div>
