@model StudentManagmentSystem.Models.Exam

@{
    ViewBag.Title = "Edit";
}

<h2 style="text-align:center; font-weight:bold">Create</h2>

@using (Html.BeginForm("Edit", "Exam", new { idsc = ViewBag.idsc, ids = ViewBag.ids, idc = ViewBag.idc }, FormMethod.Post, null))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 style="text-align:center; font-weight:bold">Exam</h4>
        <hr />
        @Html.ValidationSummary(true)
        <a>
            @ViewBag.WError
        </a>
        @if (ViewBag.idsc == null)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.SCId, "SCId", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("SCId", null, String.Empty, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SCId)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ExamType, "ExamType", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ExamType", null, String.Empty, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ExamType)
                </div>
            </div>
        }
        else
        {
            @Html.DropDownList("SCId", null, String.Empty, new { @class = "form-control", style = "visibility:hidden" })
            @Html.DropDownList("ExamType", null, String.Empty, new { @class = "form-control", style = "visibility:hidden" })
        }

        <div class="form-group">
            @Html.LabelFor(model => model.ExamDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ExamDate, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ExamDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalMarks, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.TotalMarks, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TotalMarks)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Weightage, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Weightage, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Weightage)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { idsc = ViewBag.idsc, ids = ViewBag.ids, idc = ViewBag.idc })
</div>
