@model IEnumerable<StudentManagmentSystem.Models.Exam>

@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center; font-weight:bold">Exam</h2>

<p>
    @if (ViewBag.idsc != null)
    {
        @Html.ActionLink("Back to Section Course", "Index", "SectionCourse", new { ids = ViewBag.ids, idc = ViewBag.idc }, null)
        if(ViewBag.UserType == "Admin")
        {
            <a> | </a> @Html.ActionLink("Create New", "Create", new { idsc = ViewBag.idsc, ids = ViewBag.ids, idc = ViewBag.idc })
        }
    }
</p>
<table class="table">
    <tr>
        @if (ViewBag.idsc == null)
        {
            <th>
                Section Name
            </th>
            if(ViewBag.UserType == "Student")
            {
                <th>
                    Teacher Name
                </th>
            }
            if(ViewBag.UserType == "Admin")
            {
                <th>
                    Teacher User Name
                </th>
            }
            <th>
                Class
            </th>
            <th>
                Course
            </th>
        }
        <th>
            Exam Type
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExamDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalMarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weightage)
        </th>
        @if(ViewBag.idsc != null && ViewBag.UserType == "Student")
        {
            <th>
                Obtained Marks
            </th>
        }
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @if (ViewBag.idsc == null)
        {
            <td>
                @Html.DisplayFor(modelItem => item.SectionCourse.Section.Name)
            </td>
            if(ViewBag.UserType == "Student")
            {
                <td>
                    @Html.DisplayFor(modelItem => item.SectionCourse.Teacher.AspNetUser.FirstName) @Html.DisplayFor(modelItem => item.SectionCourse.Teacher.AspNetUser.LastName)
                </td>
            }
            if(ViewBag.UserType == "Admin")
            {
                <td>
                    @Html.DisplayFor(modelItem => item.SectionCourse.Teacher.AspNetUser.UserName)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.SectionCourse.Section.Lookup.Values)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectionCourse.Course.Title)
            </td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.Lookup.Values)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExamDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalMarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weightage)
        </td>

        @if (ViewBag.idsc != null && ViewBag.UserType == "Student")
        {
            <td>
                @if(Html.DisplayFor(modelItem => item.SSExams).ToString() != "")
                {
                    @Html.DisplayFor(modelItem => item.SSExams.Where(sse => sse.SectionStudent.Student.AspNetUser.UserName == User.Identity.Name).First().ObtainedMarks)
                }
            </td>
        }
        @if(ViewBag.idsc != null)
        {
            <td>
                @if(ViewBag.UserType == "Admin")
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id, idsc = ViewBag.idsc, ids = ViewBag.ids, idc = ViewBag.idc }) <a> | </a>
                }
                @if(ViewBag.UserType == "Admin" || ViewBag.UserType == "Teacher")
                {
                    @Html.ActionLink("Student Exam", "Index", "StudentSection", new { ide = item.Id, idsc = ViewBag.idsc, ids = ViewBag.ids, idc = ViewBag.idc }, null)
                }
                @if (ViewBag.UserType == "Admin")
                {
                    <a> | </a> @Html.ActionLink("Delete", "Delete", new { id = item.Id, idsc = ViewBag.idsc, ids = ViewBag.ids, idc = ViewBag.idc })
                }
            </td>
        }
    </tr>
}

</table>
