@model IEnumerable<StudentManagmentSystem.Models.Course>

@{
    ViewBag.Title = "Courses";
}

<h2 style="text-align:center; font-weight:bold">Courses</h2>

<p>
    @if(ViewBag.UserType == "Admin")
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            Course Status
        </th>
        <th>
            Class
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lookup.Values)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lookup1.Values)
        </td>
        <td>
            @if (ViewBag.UserType == "Admin")
            {
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) <a> | </a>
            }
            @Html.ActionLink("Section", "Index", "SectionCourse", new { idc = item.Id }, null)
            @if (ViewBag.UserType == "Admin")
            {
                <a> | </a>@Html.ActionLink("Delete", "Delete", new { id=item.Id })
            }
        </td>
    </tr>
}

</table>
