@model StudentManagmentSystem.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2 style="text-align:center; font-weight:bold">@ViewBag.Title</h2>

@using (Html.BeginForm("RegisterTeacher", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4 style="text-align:center; font-weight:bold">Teacher</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Gender, StudentManagmentSystem.Models.AspNetUser.GetGenders(), new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Salary, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Salary, new { @class = "form-control" })
            @ViewBag.stuexi
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}


@section Scripts {

    <script type="text/javascript">
        $(window).load(function () {
            $('#Admin').change(function () {
                var ddlValue = $(this).val();

                if (ddlValue == parseInt(@ViewBag.Student).toString()) {
                    // show time div, hide fromTo div
                    $('#time').show();
                    $('#from').hide();
                }
                else if (ddlValue == parseInt(@ViewBag.Teacher).toString()) {
                    // show fromTo div, hide time div
                    $('#from').show();
                    $('#time').hide();
                }
                else
                {
                    $('#from').hide();
                    $('#time').hide();
                }
            });
        });
        $(document).ready(function () {
                var ddlValue = $(this).val();

                if (ddlValue == parseInt(@ViewBag.Student).toString()) {
                    // show time div, hide fromTo div
                    $('#time').show();
                    $('#from').hide();
                }
                else if (ddlValue == parseInt(@ViewBag.Teacher).toString()) {
                    // show fromTo div, hide time div
                    $('#from').show();
                    $('#time').hide();
                }
                else
                {
                    $('#from').hide();
                    $('#time').hide();
                }
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")

}

