@model StudentManagmentSystem.Models.Section

@{
    ViewBag.Title = "Details";
}

<h2 style="text-align:center; font-weight:bold">Details</h2>

<div>
    <h4 style="text-align:center; font-weight:bold">Section</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxCount)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.Lookup.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lookup.Values)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
