@model StudentManagmentSystem.Models.SSAssignment

@{
    ViewBag.Title = "Create";
}

@if(ViewBag.UserType == "Student")
{
    <h2 style="text-align:center; font-weight:bold">Submit</h2>
    <h4 style="text-align:center; font-weight:bold">Assignment</h4>
}
else
{
    <h2 style="text-align:center; font-weight:bold">Create</h2>
    <h4 style="text-align:center; font-weight:bold">Student Assignment</h4>
}

@using (Html.BeginForm("Create", "StudentAssignment", new { idsc = ViewBag.idsc, ids = ViewBag.ids, idc = ViewBag.idc, ida = ViewBag.ida, idss = ViewBag.idss }, FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        <a>
            @ViewBag.Error
        </a>
        @if(ViewBag.UserType == "Student")
        {
            @Html.DropDownList("SSId", null, String.Empty, new { @class = "form-control", style = "visibility:hidden" })
            <div>
            <label for="file" class="control-label col-md-12">Upload File:</label>
            <input type="file" name="file" id="file" class="control-label col-md-12" />
            </div>
            @Html.DropDownList("AssignmentId", null, String.Empty, new { @class = "form-control", style = "visibility:hidden" })

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
            </div>
           
        }
        else
        {
            if (ViewBag.idss == null)
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.SSId, "Registration No.", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("SSId", null, String.Empty, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SSId)
                    </div>
                </div>
            }
            else
            {
                @Html.DropDownList("SSId", null, String.Empty, new { @class = "form-control", style = "visibility:hidden" })
            }
            if (ViewBag.ida == null)
            {
                <div class="form-group">
                @Html.LabelFor(model => model.AssignmentId, "Assignment Name", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("AssignmentId", null, String.Empty, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AssignmentId)
                </div>
            </div>
            }
            else
            {
                @Html.DropDownList("AssignmentId", null, String.Empty, new { @class = "form-control", style = "visibility:hidden" })
            }
        
            <div class="form-group">
                @Html.LabelFor(model => model.ObtainedMarks, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ObtainedMarks, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ObtainedMarks)
                </div>
            </div>

            <div>
                <label for="file" class="control-label col-md-12">Upload File:</label>
                <input type="file" name="file" id="file" class="control-label col-md-12" />
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        }
        
    </div>
}

<div>
    @if (ViewBag.UserType == "Student")
    {
        @Html.ActionLink("Back to List", "Index", "Assignment", new { idsc = ViewBag.idsc, ids = ViewBag.ids, idc = ViewBag.idc, ida = ViewBag.ida, idss = ViewBag.idss }, null)
    }
    else
    {
        @Html.ActionLink("Back to List", "Index", new { idsc = ViewBag.idsc, ids = ViewBag.ids, idc = ViewBag.idc, ida = ViewBag.ida, idss = ViewBag.idss })
    }
</div>
