@model StudentManagmentSystem.Models.SSAssignment

@{
    ViewBag.Title = "Delete";
}

<h2 style="text-align:center; font-weight:bold">Delete</h2>

<div>
    <h4 style="text-align:center; font-weight:bold">SSAssignment</h4>
    <h3>Are you sure you want to delete this?</h3>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Assignment Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assignment.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectionStudent.Student.RegistrationNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionStudent.Student.RegistrationNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ObtainedMarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObtainedMarks)
        </dd>

        <dt>
            File
        </dt>
        @if (Html.DisplayFor(model => model.FilePath).ToString() == " ")
        {
            <dd>
                No File
            </dd>
        }
        else
        {
            <dd>
                @Html.DisplayFor(model => model.FilePath)
            </dd>
        }

    </dl>

    @using (Html.BeginForm("Delete", "StudentAssignment", new { idsc = ViewBag.idsc, ids = ViewBag.ids, idc = ViewBag.idc, ida = ViewBag.ida, idss = ViewBag.idss }, FormMethod.Post, null))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> | 
            @Html.ActionLink("Back to List", "Index", new { idsc = ViewBag.idsc, ids = ViewBag.ids, idc = ViewBag.idc, ida = ViewBag.ida, idss = ViewBag.idss })
        </div>
    }
</div>
