@model IEnumerable<StudentManagmentSystem.Models.StudentAttendance>

@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center; font-weight:bold">Student Attendance</h2>

<p>
    @if(ViewBag.Showt != true)
    {
        @Html.ActionLink("Back to Student", "Index", "Student")
    }
    @if(ViewBag.Showa != true)
    {
        @Html.ActionLink("Back to Attendance", "Index", "Attendance")
    }
    | @Html.ActionLink("Create New", "Create", new { idt = ViewBag.idt, ida = ViewBag.ida })
</p>
<table class="table">
    <tr>
        @if (ViewBag.Showt == true)
        {
            <th>
                @Html.DisplayNameFor(model => model.Student.RegistrationNo)
            </th>
        }
        @if (ViewBag.Showa == true)
        {
            <th>
                @Html.DisplayNameFor(model => model.Attendance.Date)
            </th>
        }
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @if (ViewBag.Showt == true)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Student.RegistrationNo)
            </td>
        }
        @if (ViewBag.Showa == true)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Attendance.Date.Month)/@Html.DisplayFor(modelItem => item.Attendance.Date.Day)/@Html.DisplayFor(modelItem => item.Attendance.Date.Year)
            </td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.Lookup.Values)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id, ida = ViewBag.Ida, idt = ViewBag.idt }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id, ida = ViewBag.Ida, idt = ViewBag.idt })
        </td>
    </tr>
}

</table>
