@model StudentManagmentSystem.Models.SSExam

@{
    ViewBag.Title = "Edit";
}

<h2 style="text-align:center; font-weight:bold">Edit</h2>

@using (Html.BeginForm("Edit", "StudentSection", new { idsc = ViewBag.idsc, ids = ViewBag.ids, idc = ViewBag.idc, ide = ViewBag.ide, idss = ViewBag.idss }, FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4 style="text-align:center; font-weight:bold">Section Student Exam</h4>
        <hr />
        @Html.ValidationSummary(true)
        <a>
            @ViewBag.Error
        </a>
        @Html.DropDownList("SSId", null, String.Empty, new { @class = "form-control", style = "visibility:hidden" })

        <div class="form-group">
            @Html.LabelFor(model => model.ObtainedMarks, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ObtainedMarks, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ObtainedMarks)
            </div>
        </div>
        @Html.DropDownList("ExamId", null, String.Empty, new { @class = "form-control", style = "visibility:hidden" })

        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { idsc = ViewBag.idsc, ids = ViewBag.ids, idc = ViewBag.idc, ide = ViewBag.ide, idss = ViewBag.idss })
</div>
